---
layout: learn-more
slug: promise
---

<ul>
<li class='' value='1'>You own your code and data, not us</li>
<li class=''>We won't lock you in</li>
<li class=''>We will do everything we can to achieve 100% uptime</li>
<li class=''>We will never achieve 100% uptime, but when we fall short, we'll explain why and how we'll do better next time</li>
</ul>
