---
layout: learn-more
slug: promise
---

- You own your code and data, not us
- We won't lock you in
- We will do everything we can to achieve 100% uptime
- We will never achieve 100% uptime, but when we fall short, we'll explain why and how we'll do better next time
